html {
    scroll-padding-top: 40px;
}

div.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#id_footer_pagebottom {
    text-align: center;
}

div.used-to-be-well {
    min-height: max-content;
    padding: 5px;
    margin-bottom: 20px;
}

.nav-list > .active > a, 
.nav-list > .active > a:hover {
    color:white;
    background-color: #0088ccc0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border:1px;
    border-color: #0088cc;
    border-radius: 5px;
}

.nav-list > li > a:hover {
    text-decoration: none;
    background-color: #eeeeee;
    border:1px;
    border-color: #eeeeee;
    border-radius: 5px;
}

.nav-tabs {
    padding-left: 20px;
    padding-right: 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    min-width: max-content;
    background-color: #0e71bfd3;
    z-index: 2;
    backdrop-filter: blur(3px);
}

.nav-tabs > li > a {
    color:white;
}

.nav-tabs > li > a:hover {
    color:#0e71af;
}

li.topmenubar-rightmost {
    float: right;
    padding-left: inherit;
    padding-right: 50px;
}

table {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    border-top: 3px solid #0e71af;
    border-bottom: 3px solid #0e71af;
}

th, td {
    padding-left: 8px;
    padding-right: 8px;
}

th {
    border-bottom: 2px solid #0e71af;
    background-color: #eeeeee;
    text-align: center;
}

td {
    border-bottom: 1px solid #0e71af;
    text-align: left;
}

tr:hover > td {
    background-color: #f0f8ff;
}

#li_back_to_top {
    display: none;
}

a.brand {
    font-size: 120%;
    font-weight: bold;
}

.used-to-be-well a[target="_blank"]:before {content: url('./icons/ie.svg'); margin-right: 2px; vertical-align: -3px;}

.used-to-be-well a[href*='index.html']:before {content: url('./icons/home.svg'); margin-right: 2px; vertical-align: -3px;}
.used-to-be-well a[href*='archives.html']:before {content: url('./icons/archives.svg'); margin-right: 2px; vertical-align: -3px;}
.used-to-be-well a[href*='tags.html']:before {content: url('./icons/tags.svg'); margin-right: 2px; vertical-align: -3px;}
.used-to-be-well a[href*='categories.html']:before {content: url('./icons/categories.svg'); margin-right: 2px; vertical-align: -3px;}

.social a[href*='github.com']:before {content: url('./icons/github.svg'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='mailto']:before {content: url('./icons/mailto.svg'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('./icons/rss.svg'); margin-right: 2px; vertical-align: -3px;}

div.entry-content p {
    text-align: justify;
}

div.article-content p, div.page-content p {
    text-indent: 30px;
}

div.article-content p.text-indent-zero, div.page-content p.text-indent-zero {
    text-indent: 0px;
}

div.article-content p.text-align-right, div.page-content p.no-indent {
    text-align: right;
}

div.entry-content p.caption-of-img-or-table {
    text-align: center;
    text-indent: 0;
}

div.entry-content img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 500px;
}

div.pagination a {
    line-height: 32px;
    width: 35px;
    text-align: center;
}

div.pagination li.active a {
    width: 50px;
    font-weight: bold;
    font-size: 120%;
}

div.pagination li.disabled a {
    text-decoration: line-through;
}

div.entry-content img.width-100px { width: 100px; }
div.entry-content img.width-200px { width: 200px; }
div.entry-content img.width-300px { width: 300px; }
div.entry-content img.width-400px { width: 400px; }

html { font-family: Arial, Helvetica, sans-serif; }
body { font-family: Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica, sans-serif; }
p { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 19px; }
p.meta { font-family: Arial, Helvetica, sans-serif; font-size: 16px; }
tbody { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 19px;}
#id_footer_pagebottom p { font-family: Arial, Helvetica, sans-serif; font-size: 17px; }
div.entry-content p.caption-of-img-or-table { font-family: Arial, Helvetica, sans-serif; font-size: 18px;}
.katex-display, .katex { font-size: 18px !important; }