table{
    max-width: 100%;
    background-color: transparent;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-spacing: 0;
    border-collapse: separate;
}

th{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

td{
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}